page-photo-details {
    .rate{
        transition: 2s;
        margin-top:5px;
        height:30px;
    }
    .rate2{
        transition: 2s;
        margin-top:5px;
        height:40px;
        background-color: orchid;
    }
    
    .rateDisable{
        display: none;
    }
    .rate3{
        
        margin-top:5px;
        height:40px;
       
    }
   
}
