page-login-ok {
    .toast-message {
        text-align: center;
        color: red;
    }
    .placeholder {
        width: 300;
        height: 300;
        background-repeat: no-repeat;
        width:100%;
        background-color:rgba(192,192,192,0.3);
        background-position: center;
        background-size: 80%;
        background-image: url('http://www.freeiconspng.com/uploads/no-image-icon-13.png');
    }
}
